In [50]:
!git clone https://github.com/sergio-gimenez/anomaly-4G-detection

fatal: destination path 'anomaly-4G-detection' already exists and is not an empty directory.

In [51]:
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import pandas as pd
import os


import sklearn.tree
import sklearn.ensemble

from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, accuracy_score, confusion_matrix

In [52]:
train = pd.read_csv('anomaly-4G-detection/ML-MATT-CompetitionQT2021_train.csv', sep=';')
test = pd.read_csv('anomaly-4G-detection/ML-MATT-CompetitionQT2021_test.xls', sep=';' )

In [53]:
train.head(5)

    Time CellName  PRBUsageUL  ...  maxUE_UL  maxUE_UL+DL  Unusual
0  10:45    3BLTE     12.3848  ...         3            8        1
1   9:45    1BLTE     22.0438  ...         5           11        1
2   7:45    9BLTE      0.5105  ...         2            3        1
3   2:45    4ALTE      1.9963  ...         2            5        1
4   3:30   10BLTE      0.3030  ...         1            3        0

[5 rows x 14 columns]

In [54]:
test.head(5)

    Time CellName  PRBUsageUL  ...  maxUE_DL  maxUE_UL  maxUE_UL+DL
0   3:00    6ALTE      3.8177  ...         3         3            6
1  20:30    6ULTE      2.0210  ...         6         3            9
2  11:30    2ALTE      0.5050  ...         2         1            3
3   6:45    3CLTE      1.0110  ...         2         1            3
4  15:45    6CLTE      4.0269  ...         3         2            5

[5 rows x 13 columns]

In [55]:
X = train.drop('Unusual', axis='columns')#.to_numpy()
y = train['Unusual']#.to_numpy()
X_train, X_validation, y_train, y_validation = train_test_split(X, y, train_size=0.8, random_state=1)
X_test = test


X

        Time CellName  PRBUsageUL  ...  maxUE_DL  maxUE_UL  maxUE_UL+DL
0      10:45    3BLTE     12.3848  ...         5         3            8
1       9:45    1BLTE     22.0438  ...         6         5           11
2       7:45    9BLTE      0.5105  ...         1         2            3
3       2:45    4ALTE      1.9963  ...         3         2            5
4       3:30   10BLTE      0.3030  ...         2         1            3
...      ...      ...         ...  ...       ...       ...          ...
36899  21:30    6ALTE      7.5790  ...         4         3            7
36900   9:45    8CLTE      9.0950  ...         4         2            6
36901  13:30    9BLTE      4.5128  ...         4         4            8
36902  12:30    3CLTE     13.3390  ...         5         4            9
36903  15:45    5BLTE     22.2310  ...         6         4           10

[36904 rows x 13 columns]

In [56]:
y

0        1
1        1
2        1
3        1
4        0
        ..
36899    0
36900    0
36901    1
36902    0
36903    0
Name: Unusual, Length: 36904, dtype: int64

In [58]:
X_train = X_train.iloc[:,3:13].to_numpy()
y_train = y_train.to_numpy()

X_validation = X_validation.iloc[:,3:13].to_numpy()
y_validation = y_validation.to_numpy()

In [59]:
clf = sklearn.tree.DecisionTreeClassifier(criterion='entropy', random_state=1)
clf.fit(X_train, y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='entropy',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=1, splitter='best')

In [63]:
pred_train = clf.predict(X_train)
pred_val = clf.predict(X_validation)

In [64]:
print("TRAINING\n" + classification_report(y_train, pred_train))
print("\nTESTING\n" + classification_report(y_validation, pred_val))

TRAINING
              precision    recall  f1-score   support

           0       1.00      1.00      1.00     21378
           1       1.00      1.00      1.00      8145

    accuracy                           1.00     29523
   macro avg       1.00      1.00      1.00     29523
weighted avg       1.00      1.00      1.00     29523


TESTING
              precision    recall  f1-score   support

           0       0.98      0.99      0.98      5343
           1       0.96      0.95      0.96      2038

    accuracy                           0.98      7381
   macro avg       0.97      0.97      0.97      7381
weighted avg       0.98      0.98      0.98      7381

In [68]:
train_error = 1. - accuracy_score(y_train, pred_train)
train_cmat = confusion_matrix(y_train, pred_train)
val_error = 1. - accuracy_score(y_validation, pred_val)
val_cmat = confusion_matrix(y_validation, pred_val)

print('train error: %f ' % train_error)
print('train confusion matrix:')
print(train_cmat)
print('test error: %f ' % val_error)
print('test confusion matrix:')
print(val_cmat)

train error: 0.000000
train confusion matrix:
[[21378     0]
 [    0  8145]]
test error: 0.023980
test confusion matrix:
[[5264   79]
 [  98 1940]]

In [ ]:
# Submission formatting
# ...