In [1]:
!git clone https://github.com/sergio-gimenez/anomaly-4G-detection

Cloning into 'anomaly-4G-detection'...
remote: Enumerating objects: 7, done.
remote: Counting objects: 100% (7/7), done.
remote: Compressing objects: 100% (6/6), done.
remote: Total 7 (delta 1), reused 7 (delta 1), pack-reused 0
Unpacking objects: 100% (7/7), done.

In [3]:
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import pandas as pd
import os
from sklearn.model_selection import train_test_split

import sklearn.tree
import sklearn.ensemble

In [4]:
train = pd.read_csv('anomaly-4G-detection/ML-MATT-CompetitionQT2021_train.csv', sep=';')
test = pd.read_csv('anomaly-4G-detection/ML-MATT-CompetitionQT2021_test.xls', sep=';' )

In [5]:
train.head(5)

    Time CellName  PRBUsageUL  ...  maxUE_UL  maxUE_UL+DL  Unusual
0  10:45    3BLTE     12.3848  ...         3            8        1
1   9:45    1BLTE     22.0438  ...         5           11        1
2   7:45    9BLTE      0.5105  ...         2            3        1
3   2:45    4ALTE      1.9963  ...         2            5        1
4   3:30   10BLTE      0.3030  ...         1            3        0

[5 rows x 14 columns]

In [6]:
test.head(5)

    Time CellName  PRBUsageUL  ...  maxUE_DL  maxUE_UL  maxUE_UL+DL
0   3:00    6ALTE      3.8177  ...         3         3            6
1  20:30    6ULTE      2.0210  ...         6         3            9
2  11:30    2ALTE      0.5050  ...         2         1            3
3   6:45    3CLTE      1.0110  ...         2         1            3
4  15:45    6CLTE      4.0269  ...         3         2            5

[5 rows x 13 columns]

In [7]:
X = train.drop('Unusual', axis='columns').to_numpy()
y = train['Unusual'].to_numpy()
X_train, X_validation, y_train, y_validation = train_test_split(X, y, train_size=0.8, random_state=1)
X_test = test


X

array([['10:45', '3BLTE', 12.3848, ..., 5, 3, 8],
       ['9:45', '1BLTE', 22.0438, ..., 6, 5, 11],
       ['7:45', '9BLTE', 0.5105, ..., 1, 2, 3],
       ...,
       ['13:30', '9BLTE', 4.5128, ..., 4, 4, 8],
       ['12:30', '3CLTE', 13.339, ..., 5, 4, 9],
       ['15:45', '5BLTE', 22.231, ..., 6, 4, 10]], dtype=object)